* {
    font-family: 'Varela Round', sans-serif;
}

body {
    margin: 0;
}

div.scrollmenu {
    background-color: #333;
    white-space: nowrap;
    height: 50vh;
    padding-right: 3.2vh;
    overflow: auto;
}

div.scrollmenu div.card {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 40vh;
    padding: 3.2vh 0 3.2vh 3.2vh;
}

img {
    width: 40vh;
    border-radius: 5px;
}

header,
footer {
    height: 25vh;
}

h1 {
    margin: 0;
}

.button {
    width: 9%;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}